*.mexmaci64
*.aux
*.bbl
*.log
*.gz
*.mexa64
*.blg
*.spl
*.o
/vs_20*
/lib/*
build
bin
.vscode
lib3rd
/docs
latex

/fig/*

/third_parties/
/third_party/
/lib/
/lib3rd/

/rerun_blueprint/*.rrd

build/
buildX/

profileRerun.json

dati.csv

out.txt

.cache/
.idea/
cmake-build-debug/


data/envelope/

text.txt
test.txt

vehicle_objects/
data/INDY/


xcode/

src_tests/OLD_*

python_bindings/build/

python_bindings/**.so

**/__pycache__/

/python_bindings/figures
/python_bindings/tmp/
